body {
  margin: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  height: 100vh;
  font-family: sans-serif;
}
.title {
  background-color: #337545;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  height: 5vh;
  text-align: center;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  height: 5vh;
  background-color: #337545;
}
.menu-bar-item {
  background-color: #337545;
  color: white;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar-item.selected {
  background-color: #fff;
  color: #337545;
}
.menu-bar-item:hover {
  background-color: #1d4628;
  cursor: pointer;
}
.menu-bar-item.selected:hover {
  background-color: white;
  cursor: default;
}
.menu-icon-bar {
  display: flex;
  flex-direction: row;
  height: 6vh;
}
.menu-icon {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu-icon:hover {
  background-color: lightgray;
  cursor: pointer;
}
.menu-selector {
  height: 4.5vh;
  font-size: 1.2rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
#font-family {
  width: 10vw;
  min-width: 130px;
  font-family: Noto Sans;
}
#font-size {
  width: 3.5vw;
  min-width: 55px;
}
.formula-bar {
  display: flex;
  flex-direction: row;
  height: 4vh;
  align-items: center;
  padding-left: 0.5rem;
  padding-right:0.5rem;
  background-color: lightgray;
}
#selected-cell {
  width: 100px;
  
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  height: 70%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: white;
}
#formula-sign {
  width: 50px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#formula-input {
  width:95vw;
 
  height: 70%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color:white;
}
.data-container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  height:76vh;
  
}
#select-all{
  width:25px;
  height:25px;
  border: 1px solid lightgray;
}
#columns{
  height:25px;
  width:calc(100vw - 25px);
  border:1px solid lightgray;
  display:flex;
  flex-direction: row;
  overflow: hidden;
}
#rows{
  width:25px;
  height:calc(76vh - 25px);
  border:1px solid lightgray;
  overflow: hidden;
}
#cells{
  position:relative;
  width:calc(100vw - 25px);
  height:calc(76vh - 25px);
  border:1px solid lightgray;
  overflow: scroll;
}
.column-name{
  min-width:100px;
  border-right:1px solid lightgray;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight:600;
}
.row-name{
  min-height:25px;
  border-bottom: 1px solid lightgray;
  font-weight:600;
  display:flex;
  justify-content: center;
  align-items: center;
}
.cells-row{
  display:flex;
  flex-direction:row;
}
.input-cell{
  min-width:100px;
  width:100px;
  min-height:25px;
  height:25px;
  border-bottom: 1px solid lightgray;
  border-right:1px solid lightgray;
  padding-left: 3px;
  padding-right:3px;
  font-family:Noto Sans;
  font-size:16px;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  outline-color:green;
}
.input-cell.selected{
  border:2px solid green;
}
.input-cell.top-selected{
  border-top:none;
}
.input-cell.bottom-selected{
  border-bottom: 1px solid lightgray;
}
.input-cell.right-selected{
  border-right:1px solid lightgray;
}
.input-cell.left-selected{
  border-left:none;
}
